body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #444;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.link, .link:active {
  color: #02e947d4;
}

.link:hover {
  color: #32ff6fd4;
}
